.contenedorFooter {
    text-align:right;
    padding-top: 2%;
}

.derechos {
    padding-left: 5%;     
}
.instagram {
    width: 30px;
    height: 30px;
}
.face {
    width: 30px;
    height: 30px;
}
.mail {
    width: 32px;
    height: 32px;
    left: 78px;
    top: 1904px;
}
